{% extends "base.html" %}
{% block content %}
<main>
    <h1 class="challenge-title">Profile</h1>
    
    <div class="challenge-card">
        <div class="challenge-content">
            <table>
                <tr>
                    <th>Name</th>
                    <td>{{ current_user.full_name }} </td>
                </tr>
                <tr>
                    <th>Year Group</th>
                    <td>{{ current_user.year }}</td>
                </tr>
                <tr>
                    <th>Key Stage</th>
                    <td>{{ current_user.key_stage }}</td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td>{{ current_user.maths_class }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ 'Admin' if current_user.is_admin else 'User' }}</td>
                </tr>
                <tr>
                    <th>Challenges Answered</th>
                    <td>{{ leaderboard_entries_count if leaderboard_entries_count else '0' }}</td>
                </tr>
                <tr>
                    <th>Total Points</th>
                    <td>{{ total_score }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="challenge-actions">
        <a href="{{ url_for('profile.change_password') }}" class="button">
            Change Password
        </a>
        <a href="{{ url_for('auth.logout') }}" class="button button-secondary">
            Logout
        </a>
        <a href="{{ url_for('profile.delete_account') }}" class="button button-danger" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
            Delete Account
            
        </a>
    </div>
    <br>
    <div class="privacy-policy">
        <p>
            <strong>Privacy Policy:</strong> We take your privacy seriously. We do not share your data with third parties. To learn more, please read our <a href="{{ url_for('main.privacy_policy') }}">privacy policy</a>.
        </p>
</main>

{% endblock %}