{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <div class="alert alert-info" style="margin-bottom: 1rem;">
        <strong>Note:</strong> This registration page is for UCGS non summer competition accounts only.<br>
        Looking to sign up for the <b>Summer Competition 2025</b>? 
        <a href="{{ url_for('auth.summer_register') }}" style="color: #ff6b6b; font-weight: bold;">Click here</a>
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}
            {{ form.first_name(size=32) }}<br>
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }}
            {{ form.last_name(size=32) }}<br>
            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}
            {{ form.year(class="form-control") }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.maths_class.label }}
            {{ form.maths_class(size=32) }}<br>
            {% for error in form.maths_class.errors %} 
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <br />
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Click here to log in</a></p>
{% endblock %}