alembic==1.13.3
Flask==2.1.0
Flask_CKEditor==1.0.0
Flask_Login==0.5.0
Flask_Migrate==3.1.0
Flask_SQLAlchemy==2.5.1
Flask_WTF==0.15.1
SQLAlchemy==1.4.31
Werkzeug==2.0.1
better-profanity==0.7.0
WTForms==3.2.1
gunicorn==23.0.0
sphinx==8.1.0
sphinx-rtd-theme==3.0.0
