{% extends "base.html" %}

{% block content %}
<h1>Leaderboard</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Last Updated</th>
            <th>Year</th>
            <th>Class</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.user.full_name }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.last_updated.strftime('%d/%m/%Y') }}</td>
            <td>{{ entry.user.year }}</td>
            <td>{{ entry.user.maths_class }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}