{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Create New {{ form.type.data.capitalize() if form.type.data else 'Article/Newsletter' }}</h1>
    </div>
    
    <div class="breadcrumb">
            <a href="{{ url_for('admin.manage_articles') }}">Manage Articles/Newsletters</a>
            <span class="breadcrumb-separator">›</span>
            <span>Create Article/Newsletter</span>
        </div>

    <form method="POST" enctype="multipart/form-data" class="form-group">
        {{ form.hidden_tag() }}
        <div class="form-group">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>
        <div class="form-group">
            {{ form.author.label(class="form-label") }}
            {{ form.author(class="form-control", size=32) }}
            {% for error in form.author.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.type.label(class="form-label") }}
            {{ form.type(class="form-control") }}
            {% for error in form.type.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
            {% for error in form.content.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control") }}
            {% for error in form.file.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="button") }}
        </div>
    </form>
    <a href="{{ url_for('admin.manage_articles') }}" class="button">Back to Manage Articles</a>
{% endblock %}