{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Create New Announcement</h1>
    </div>
    
    <div class="breadcrumb">
            <a href="{{ url_for('admin.manage_announcements') }}">Manage Announcements</a>
            <span class="breadcrumb-separator">›</span>
            <span>Create Announcement</span>
        </div>

    <form method="POST" enctype="multipart/form-data" class="form-group"> 
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label(class="form-label") }}
            {{ form.title(size=32, class="form-control") }}
            {% for error in form.title.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=4) }}
            {% for error in form.content.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="button") }}
        </div>
    </form>
    <a href="{{ url_for('admin.manage_announcements') }}">Back to Manage Announcements</a>
{% endblock %}