{% extends "base.html" %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <div class="admin-dashboard">
    <ul>
        <li><a href="{{ url_for('admin.manage_challenges') }}">Manage Challenges</a></li>
        <li><a href="{{ url_for('admin.manage_articles') }}">Manage Newsletters/Articles</a></li>
        <li><a href="{{ url_for('admin.manage_users') }}">Manage Users</a></li>
        <li><a href="{{ url_for('admin.manage_leaderboard') }}">Manage Leaderboard</a></li>
        <li><a href="{{ url_for('admin.manage_announcements') }}">Manage Announcements</a></li>
        <li><a href="{{ url_for('admin.manage_summer_competition') }}">Manage Summer Competition</a></li>
    </ul>
    </div>
{% endblock %}